.footer {
  height: 200px;
  background-color: #776B5D;
  padding: 10px;
  border-radius: 20px;
}
.fsection {
  display: flex;
  flex-wrap: nowrap;
  height: 170px;
  gap: 10px;
}
.fleft, .fmiddle, .fright {
  display: flex;
  flex:1;
  flex-direction: column; 
  justify-content: center; 
  background-color: #B0A695;
  padding: 10px;
  border-radius: 20px;
}
.fmiddle ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.fmiddle ul li {
  margin-bottom: 10px;
}
.fmiddle ul li a {
  text-decoration: none;
  color: #000;
}
.fmiddle ul li a:hover {
  text-decoration: underline;
}
h3 {
  margin: 0 0 10px 0; 
}
p {
  margin: 0;
}
.copyright {
  text-align: center;
  margin-top: 10px;
  font-size: 10px;
  color: white;
}